*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #505050;
  height: 100px;
  color: white;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #505050;
  color: #ffffff;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
